<h1>Login</h1>

<h4><%= flash[:notice] %></h4>
<form class="ui large form">
  <div class="ui stacked segment">
    <%= form_tag(login_path) do %>
    <div class="field">
      <div class="ui left icon input">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="ui fluid large submit button">
      <%= submit_tag 'Login' %>
    </div>
    <% end %>
  </div>
</form>
<br>
<div class="ui message">

        New to us?   
  <%= link_to "Create A New Account", new_path %>
</div>
