<% if flash[:error] %>
<ul>
  <% flash[:error].each do |e| %>
    <li><%= e %></li>
  <% end %>
</ul>
<% end %>
<div id="main-form" class="ui form">
  <%= form_for @user do |f| %>
  <p>Select Your Pigeon Avatar:</p>
  <input type="hidden" name="user[image_id]" value="">
  <br>
  <div class="ui four column grid">
    <div class="row">
      <div class="column">
        <label for="user_image_id_1"><img class="form-pic" src="https://i.imgur.com/ZBMWt4h.jpg"><input type="radio" value="1" name="user[image_id]" id="user_image_id_1"></label>
      </div>
      <div class="column">
        <label for="user_image_id_2"><img class="form-pic" src="https://i.imgur.com/wJ5Z1EA.jpg"><input type="radio" value="2" name="user[image_id]" id="user_image_id_2"></label>
      </div>
      <div class="column">
        <label for="user_image_id_3"><img class="form-pic" src="https://i.imgur.com/PfC1IWR.jpg"><input type="radio" value="3" name="user[image_id]" id="user_image_id_3"></label>
      </div>
      <div class="column">
        <label for="user_image_id_4"><img class="form-pic" src="https://i.imgur.com/3NmM0mo.jpg"><input type="radio" value="4" name="user[image_id]" id="user_image_id_4"></label>
      </div>
    </div>
    <div class="column">
      <label for="user_image_id_5"><img class="form-pic" src="https://i.imgur.com/S7lbCym.jpg"><input type="radio" value="5" name="user[image_id]" id="user_image_id_5"></label>
    </div>
    <div class="column">
      <label for="user_image_id_6"><img class="form-pic" src="https://i.imgur.com/ceuxeOx.jpg"><input type="radio" value="6" name="user[image_id]" id="user_image_id_6"></label>
    </div>
    <div class="column">
      <label for="user_image_id_7"><img class="form-pic" src="https://i.imgur.com/qRz62fZ.jpg"><input type="radio" value="7" name="user[image_id]" id="user_image_id_7"></label>
    </div>
    <div class="column">
      <label for="user_image_id_8"><img class="form-pic" src="https://i.imgur.com/SAzSZny.jpg"><input type="radio" value="7" name="user[image_id]" id="user_image_id_7"></label>
    </div>
  </div>
  <br>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %><br>
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username %><br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %><br>
  <%= f.label :email, "Email:" %>
  <%= f.email_field :email %><br>
  <%= f.label :age, "Age:"%>
  <%= f.number_field :age %><br>
  <%= f.label :occupation, "Occupation:" %>
  <%= f.text_field :occupation %><br>
  <div class="inline fields">
    <label>Gender:  </label><br>
    <%= f.label "Male" %>
    <%= f.radio_button :gender, "Male" %><br>
    <%= f.label "Female" %>
    <%= f.radio_button :gender, "Female" %><br>
    <%= f.label "Non-Binary" %>
    <%= f.radio_button :gender, "Non-Binary" %><br>
  </div>
  Select Your Interests:<br><br>
  <div class="ui five column grid">
    <input type="hidden" name="user[interest_ids][]" value="">
    <div class="row">
      <div class="column">
        <input type="checkbox" value="1" name="user[interest_ids][]" id="user_interest_ids_1">
        <label for="user_interest_ids_1">Basketweaving</label>
      </div>
      <div class="column">
        <input type="checkbox" value="2" name="user[interest_ids][]" id="user_interest_ids_2">
        <label for="user_interest_ids_2">Deep-sea Diving</label>
      </div>
      <div class="column">
        <input type="checkbox" value="3" name="user[interest_ids][]" id="user_interest_ids_3">
        <label for="user_interest_ids_3">Hardcore Headbobbing</label>
      </div>
      <div class="column">
        <input type="checkbox" value="4" name="user[interest_ids][]" id="user_interest_ids_4">
        <label for="user_interest_ids_4">Cave Spelunking</label>
      </div>
      <div class="column">
        <input type="checkbox" value="5" name="user[interest_ids][]" id="user_interest_ids_5">
        <label for="user_interest_ids_5">Skydiving</label>
      </div>
    </div>
    <div class="column">
      <input type="checkbox" value="6" name="user[interest_ids][]" id="user_interest_ids_6">
      <label for="user_interest_ids_6">Reading Tabloids</label>
    </div>
    <div class="column">
      <input type="checkbox" value="7" name="user[interest_ids][]" id="user_interest_ids_7">
      <label for="user_interest_ids_7">Crumb Tasting</label>
    </div>
    <div class="column">
      <input type="checkbox" value="8" name="user[interest_ids][]" id="user_interest_ids_8">
      <label for="user_interest_ids_8">Avoiding Death</label>
    </div>
    <div class="column">
      <input type="checkbox" value="9" name="user[interest_ids][]" id="user_interest_ids_9">
      <label for="user_interest_ids_9">People Watching</label>
    </div>
    <div class="column">
      <input type="checkbox" value="10" name="user[interest_ids][]" id="user_interest_ids_10">
      <label for="user_interest_ids_10">Birdbath Bathing</label>
    </div>
  </div>
  <br><br>
  <%= f.label :bio, "Bio:" %>
  <div class="field">
    <%= f.text_area :bio, size: "60x5" %>
  </div>
  <%= f.submit class: "ui positive button" %>
  <% end %>
</div>
