<% if flash[:error] %>
<ul>
  <% flash[:error].each do |e| %>
    <li><%= e %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <%= f.label :age %>
  <%= f.number_field :age %><br>
  <%= f.label "Male" %>
  <%= f.radio_button :gender, "Male" %><br>
  <%= f.label "Female" %>
  <%= f.radio_button :gender, "Female" %><br>
  <%= f.label "Non-Binary" %>
  <%= f.radio_button :gender, "Non-Binary" %><br>
  <%= f.label :occupation %>
  <%= f.text_field :occupation %><br>
  <%= f.label :bio %>
  <%= f.text_area :bio %><br>
  <p>Select Your Interests:</p>
  <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name %><br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.submit %>
<% end %>
