<div id="menu-bar"class="ui inverted menu">
  <div class="header item">PDA</div>
  <a class="item" data-method="get" href="/users">Pigeons</a>
  <a class="item" data-method="get" href="/interests">Interests</a>
  <a class="item" data-method="get" href="/conversations">My Conversations</a>
  <div class="right menu">
    <div class="item"><img class="menu-pic" src="<%= current_user.image.name %>"></div>
    <a class="item" data-method="get" href= '<%= "/users/#{current_user.id}" %>'><%= current_user.username %></a>
    <a class="item" rel="nofollow" data-method="delete" href="/logout">Logout</a>
  </div>
</div>
<div class="main-content">
  <h1>All Pigeons</h1>
  <div class="search-bar">
    <form class="ui action input" action="/users" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <input type="text" placeholder="Search..." name="search" id="search">
      <input class="ui grey button" type="submit" name="commit" value="Search" data-disable-with="Search">
    </form>
  </div>
  <br>
  <% @users.each do |user| %>
    <div class="ui card">
      <a class="image" href='<%= "/users/#{user.id}" %>'>
        <img src="<%= user.image.name %>">
      </a>
      <div class="content">
        <a class="header" href='<%= "/users/#{user.id}" %>'><%= user.username %></a>
        <div>
          Gender: <%= user.gender %><br>
          Age: <%= user.age %><br>
          Occupation: <%= user.occupation %><br>
        </div>
      </div>
    </div>
  <% end %>
</div>
