<h2>You are logged in as <%=link_to current_user.username, current_user %></h2>
<% if current_user.id != @user.id %>
  <%= button_to "My Conversations", conversations_path, method: :get %><br>
  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>

<h4><%= flash[:notice] %></h4>

<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<p>Name: <%= @user.name %></p>
<p>Gender: <%= @user.gender %></p>
<p>Age: <%= @user.age %></p>
<p>Occupation: <%= @user.occupation %></p>
<p>Bio: <%= @user.bio %></p>
<p>Interests:</p>
<ul>
  <% @user.interests.each do |interest| %>
  <li><%= link_to interest.name, interest %></li>
  <% end %>
</ul>
<% if current_user.id == @user.id %>
  <% count = 0 %>
  <% @user.matchers.each do |matcher| %>
    <% unless @user.matching.include?(matcher) %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <p>My Pigeon Admirers (<%= count %>):</p> <%=  %>
  <ul>
    <% @user.matchers.each do |matcher| %>
      <% unless @user.matching?(matcher) %>
        <li><%= link_to matcher.username, matcher%></li>
        <%= form_for(@user.active_relationships.new) do |f| %>
          <%= hidden_field_tag :matched_id, matcher.id %>
          <%= f.submit "Accept Match" %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% count = 0 %>
  <% @user.matchers.each do |matcher| %>
    <% if @user.matching?(matcher) %>
      <% count += 1 %>
    <% end %>
  <% end %>
  <p>The Birds That I Flock With (<%= count %>):</p> <%=  %>
  <ul>
    <% @user.matchers.each do |matcher| %>
      <% if @user.matching?(matcher) %>
        <li><%= link_to matcher.username, matcher%></li>
        <%= form_for(current_user.active_relationships.find_by(matched_id: matcher.id), method: :delete) do |f| %>
          <%= f.submit "Unmatch", data: { confirm: "You no longer want to flock with this bird?"} %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
<br>
<%= render 'match_form' %>
<% if current_user.id == @user.id %>
  <%= button_to 'Edit Account', edit_user_path, method: :get %><br>
<% end %>
<%= button_to "View All Pigeons", users_path, method: :get %><br>
<% if current_user.id == @user.id %>
  <%= button_to 'Logout', logout_path, method: :delete %>
<% end %>
