<div id="menu-bar"class="ui inverted menu">
  <div class="header item">PDA</div>
  <a class="item" data-method="get" href="/users">Pigeons</a>
  <a class="item" data-method="get" href="/interests">Interests</a>
  <a class="item" data-method="get" href="/conversations">My Conversations</a>
  <div class="right menu">
    <div class="item"><img class="menu-pic" src="<%= current_user.image.name %>"></div>
    <a class="item" data-method="get" href= '<%= "/users/#{current_user.id}" %>'><%= current_user.username %></a>
    <a class="item" rel="nofollow" data-method="delete" href="/logout">Logout</a>
  </div>
</div>

<div class="show-info">
<h4><%= flash[:notice] %></h4>

<% provide(:title, @user.username) %>
<h1>
  <img class="profile-pic" src="<%= @user.image.name %>">
  <%= @user.username %>
</h1>
  <p>Name: <%= @user.name %></p>
  <p>Gender: <%= @user.gender %></p>
  <p>Age: <%= @user.age %></p>
  <p>Occupation: <%= @user.occupation %></p>
  <p>Bio: <%= @user.bio %></p>
  <p>Interests:</p>
  <ul>
    <% @user.interests.each do |interest| %>
    <li><%= link_to interest.name, interest %></li>
    <% end %>
  </ul>
  <% if current_user.id == @user.id %>
  <% count = 0 %>
  <% @user.matchers.each do |matcher| %>
  <% unless @user.matching.include?(matcher) %>
  <% count += 1 %>
  <% end %>
  <% end %>
  <p>My Pigeon Admirers (<%= count %>):</p> <%=  %>
  <ul>
    <% @user.matchers.each do |matcher| %>
    <% unless @user.matching?(matcher) %>
    <li><%= link_to matcher.username, matcher%></li>
    <%= form_for(@user.active_relationships.new) do |f| %>
    <%= hidden_field_tag :matched_id, matcher.id %>
      <input class="ui basic button" type="submit" name="commit" value="Accept Match" data-disable-with="Accept Match">
    <% end %>
    <% end %>
    <% end %>
  </ul>
  <% count = 0 %>
  <% @user.matchers.each do |matcher| %>
  <% if @user.matching?(matcher) %>
  <% count += 1 %>
  <% end %>
  <% end %>
  <p>The Birds That I Flock With (<%= count %>):</p> <%=  %>
  <ul>
    <% @user.matchers.each do |matcher| %>
    <% if @user.matching?(matcher) %>
    <li><%= link_to matcher.username, matcher%></li>
    <%= form_for(current_user.active_relationships.find_by(matched_id: matcher.id), method: :delete) do |f| %>
      <input class="ui basic button" type="submit" name="commit" value="Unmatch" data-confirm="You no longer want to flock with this bird?" data-disable-with="Unmatch">
    <% end %>
    <% end %>
    <% end %>
  </ul>
  <% end %>
  <br>
  <%= render 'match_form' %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit Account', edit_user_path, method: :get %><br>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% end %>
</div>
